{% include '_header.twig' %}

<h2>Basketball</h2>

<div class="header-row">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
        <p class="under">Meeting</p>
    </div>
    <div class="col-xs-3 col-sm-2 col-md-2">
      <p class="under">Date</p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <p class="under">Time</p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
      <p class="under">Location</p>
    </div>
    <div class="col-xs-3 col-sm-2 col-md-2">
      <p class="under">Site</p>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>

{% setcontent clinicsandmeetings = 'clinicormeeting' %}

{% for clinicormeeting in clinicsandmeetings %}

{% if clinicormeeting.sport == 'Basketball' %}

<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2">
    {{ clinicormeeting.meeting }}
  </div>
  <div class="col-xs-3 col-sm-2 col-md-2">
    {{ clinicormeeting.date_and_time|date('m/d/Y') }}
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2">
    {{ clinicormeeting.date_and_time|date('g:ia') }}
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2">
    {{ clinicormeeting.location }}
  </div>
  <div class="col-xs-3 col-sm-2 col-md-2">
    {{ clinicormeeting.site }}
  </div>
  <div class="col-sm-1">
  </div>
</div>

{% endif %}

{% endfor %}

<h2>Football</h2>

{% for clinicormeeting in clinicsandmeetings %}

{% if clinicormeeting.sport == 'Football' %}

<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2">
    {{ clinicormeeting.meeting }}
  </div>
  <div class="col-xs-3 col-sm-2 col-md-2">
    {{ clinicormeeting.date_and_time|date('m/d/Y') }}
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2">
    {{ clinicormeeting.date_and_time|date('g:ia') }}
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2">
    {{ clinicormeeting.location }}
  </div>
  <div class="col-xs-3 col-sm-2 col-md-2">
    {{ clinicormeeting.site }}
  </div>
  <div class="col-sm-1">
  </div>
</div>

{% endif %}

{% endfor %}

{# <h1>Board</h1>
<p class="lead">Below are all the current board members.</p>
<hr>

{% setcontent board = 'board' %}

{% for boardmember in board %}

<article>
  <div class="row">
    <div class = "col-md-4 col-xs-8 col-xs-offset-2 col-md-offset-0">
      <img src="{{ image(boardmember.image) }}" alt="{{ boardmember.name }}" class="img-responsive">
    </div>
  
    <div class="col-md-8 col-xs-12">
      <h2>{{ boardmember.name }}</h2>
    </div>
    <div class="col-md-8 col-xs-12">
      <p>{{ boardmember.body }}</p>
    </div>
</div>
</article>

{% endfor %} #}

{% include '_footer.twig' %}