{% include '_header.twig' %}


{% setcontent committees = "committee" %}

{% for committee in committees %}

{% if committee.sport == 'Basketball' %}
  <h2>{{ committee.committee }} <i class="icon-nba"></i></h2>
	<p>{{ committee.members }}</p>
{% endif %}

{% if committee.sport == 'Football' %}
  <h2>{{ committee.committee }} <i class="icon-nfl"></i></h2>
	<p>{{ committee.members }}</p>
{% endif %}

{% if committee.sport == 'Both' %}
  <h2>{{ committee.committee }} <i class="icon-nba"></i><i class="icon-nfl"></i></h2>
	<p>{{ committee.members }}</p>
{% endif %}

{% endfor %}

{% include '_footer.twig' %}
