{% include '_header.twig' %}

<script language="JavaScript" src="{{ paths.theme }}jss/gen_validator31.js" type="text/javascript"></script>

<h1 class="center">Officials Evaluation</h1>

{% setcontent evaluations = "evaluation" %}

{% for evaluation in evaluations %}

<form method="post" action="form-to-email.php">

    <label for="{{ evaluation.date }}">{{ evaluation.date }}</label>
    <input type="text" class="form-control" name="{{ evaluation.date }}">

    <label for="{{ evaluation.referee }}">{{ evaluation.referee }}</label>
    <input type="text" class="form-control" name="{{ evaluation.referee }}">

    <label for="{{ evaluation.hometeam }}">{{ evaluation.hometeam }}</label>
    <input type="text" class="form-control" name="{{ evaluation.hometeam }}">

    <label for="{{ evaluation.visitingteam }}">{{ evaluation.visitingteam }}</label>
    <input type="text" class="form-control" name="{{ evaluation.visitingteam }}">

    <label for="sport">Sport:</label><br>
    <input type="checkbox" name="{{ evaluation.football }}" value="{{ evaluation.football }}"> {{ evaluation.football }}<br>
    <input type="checkbox" name="{{ evaluation.basketball }}" value="{{ evaluation.basketball }}"> {{ evaluation.basketball }}<br>

    <label for="level">Level:</label><br>

    <input type="checkbox" name="{{ evaluation.varsity }}" value="{{ evaluation.varsity }}"> {{ evaluation.varsity }}<br>
    <input type="checkbox" name="{{ evaluation.jv }}" value="{{ evaluation.jv }}"> {{ evaluation.jv }}<br>
    <input type="checkbox" name="{{ evaluation.middleschool }}" value="{{ evaluation.middleschool }}"> {{ evaluation.middleschool }}<br>
    <input type="checkbox" name="{{ evaluation.elementary }}" value="{{ evaluation.elementary }}"> {{ evaluation.elementary }}<br>
    <input type="checkbox" name="{{ evaluation.youthleague }}" value="{{ evaluation.youthleague }}"> {{ evaluation.youthleague }}<br>

    <div class="centered">
        <p>{{ evaluation.scale }}</p>
    </div>

    <label for="{{ evaluation.appearance }}">{{ evaluation.appearance }} - {{ evaluation.appearancedesc }}</label>
    <input type="text" class="form-control" name="{{ evaluation.appearance }}">

    <label for="{{ evaluation.professionalism }}">{{ evaluation.professionalism }} - {{ evaluation.professionalismdesc }}</label>
    <input type="text" class="form-control" name="{{ evaluation.professionalism }}">

    <label for="{{ evaluation.gamemanagement }}">{{ evaluation.gamemanagement }} - {{ evaluation.gamemanagementdesc }}</label>
    <input type="text" class="form-control" name="{{ evaluation.gamemanagement }}">

    <label for="{{ evaluation.whistle }}">{{ evaluation.whistle }} - {{ evaluation.whistledesc }}</label>
    <input type="text" class="form-control" name="{{ evaluation.whistle }}">

    <label for="{{ evaluation.signals }}">{{ evaluation.signals }} - {{ evaluation.signalsdesc }}</label>
    <input type="text" class="form-control" name="{{ evaluation.signalsdesc }}">

    <label for="{{ evaluation.position }}">{{ evaluation.position }} - {{ evaluation.positiondesc }}</label>
    <input type="text" class="form-control" name="{{ evaluation.position }}">

    <label for="{{ evaluation.callselection }}">{{ evaluation.callselection }} - {{ evaluation.callselectiondesc }}</label>
    <input type="text" class="form-control" name="{{ evaluation.callselection }}">

    <label for="{{ evaluation.communication }}">{{ evaluation.communication }} - {{ evaluation.communicationdesc }}</label>
    <input type="text" class="form-control" name="{{ evaluation.communication }}">

    <label for="{{ evaluation.rulesknowledge }}">{{ evaluation.rulesknowledge }} - {{ evaluation.rulesknowledgedesc }}</label>
    <input type="text" class="form-control" name="{{ evaluation.rulesknowledge }}">

    <label for="{{ evaluation.comments }}">{{ evaluation.comments }}</label>
    <input type="text" class="form-control" name="{{ evaluation.comments }}">

    <div class="centered">
        <input type="submit" value="Submit">
    </div>

</form>

{% endfor %}

<!-- <form method="post" action="form-to-email.php">

    <label for="date">Date</label>
    <input type="text" class="form-control" name="date" placeholder="Today's Date (ex: 5/22/2016)">
    <label for="referee">Referee / Observer</label>
    <input type="text" class="form-control" id="referee" placeholder="Referee or Observer's Name">
    <label for="homeTeam">Home Team</label>
    <input type="text" class="form-control" id="homeTeam" placeholder="Home Team">
    <label for="visitingTeam">Visiting Team</label>
    <input type="text" class="form-control" id="visitingTeam" placeholder="Visiting Team">
    <label for="sport">Sport</label>

    <br>

    <input type="submit" value="Send">

</form> -->

{% include '_footer.twig' %}
